@using System.Web.Optimization;
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Things to do...</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.2.1/css/ripples.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.2.1/css/material-wfont.min.css" />
    @Styles.Render("~/bundles/css")
</head>
<body>
    <script src="//cdn.polyfill.io/v1/polyfill.min.js&gated=1"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/mithril/0.1.28/mithril.min.js"></script>
    <script src="//cdn.firebase.com/js/client/2.1.1/firebase.js"></script>
    @*<script async src="//cdn.jsdelivr.net/velocity/1.2.1/velocity.min.js"></script>*@
    @Scripts.Render("~/bundles/script")
</body>
</html>
