@using System.Web.Optimization;
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Things to do...</title>
	<link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap/3.3/css/bootstrap.min.css" />
	<link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap.material-design/0.2/css/ripples.min.css" />
	<link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap.material-design/0.2/css/material-wfont.min.css" />
    @Styles.Render("~/bundles/css")
</head>
<body>
	@Scripts.Render("~/bundles/external")
	@Scripts.Render("~/bundles/firebase")
    @Scripts.Render("~/bundles/script")
</body>
</html>
