.todoApp label.todo {
    font-weight: normal;
}

.todoApp label.todo.completed {
    text-decoration: line-through;
    color: silver;
}

.todoApp i.close {
    font-size: 25pt;
}

.todoApp .icon-close {
    display: inline-block;
    padding: 6px 0px;
    margin: 6px 0px;
    cursor: pointer;
}

.todoApp .modal {
    display: block;
    position: fixed;
}

.todoApp .confirmDlg .panel-body {
    margin-top: 20px;
    font-style: italic;
}

.authBox {
    margin-top: 10%;
    height: 180px;
    top: auto;
    bottom: auto;

    button {
        margin-left: auto;
        margin-right: auto;

        &.google {
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAsUlEQVR4AZXBvysHYRwA4OfeTuluMalLFoN/wUh+lUkxWUy6jbIpi1mRxWiQbMoki+kGixRlwfKdvquUkqLX/iniefzHkNaON1lnXy2o3FlF49GDimhFNgJa2SxAAvCBYdBhUKTUdwKWPalFmPPsypaecT8a9enYLwr3viyKUFpzZs+2W+9mBMm5awmUTt0IJmXzAMa8CqZlBwDWXQiSXS+OLFhy6FIjwoAJmzZMKfzdN6wXKEn5adivAAAAAElFTkSuQmCCf567adb93a5e289c5c32f19dc21b593b');
            background-position: 7px 10px;
            background-repeat: no-repeat;
        }
    }
}

