.todoApp label.todo {
    font-weight: normal;
}

.todoApp label.todo.completed {
    text-decoration: line-through;
    color: silver;
}

.todoApp i.close {
    font-size: 25pt;
}

.todoApp .icon-close {
    display: inline-block;
    padding: 6px 0px;
    margin: 6px 0px;
    cursor: pointer;
}

.todoApp .modal {
    display: block;
    position: fixed;
}

.todoApp .confirmDlg .panel-body {
    margin-top: 20px;
    font-style: italic;
}